<div class="container">
    <div *ngIf="data.perfil_usuario === 'USUARIO'" class="perfil-administrador">
        <h3>Deseja tornar este perfil como administrador?</h3>
        <p>O perfil administrador permite a visualização da torina de usuários e templates cadastrados,
            assim como efetuar downloads, uploads, ativar e desativar templates.
        </p>
        <h4>Deseja confirmar?</h4>
        <div class="campo-confirmacao">
            <button [mat-dialog-close]="true">Confirmar</button>
            <button [mat-dialog-close]="false">Cancelar</button>
        </div>
    </div>
    
    <div *ngIf="data.perfil_usuario === 'ADMINISTRADOR'" class="perfil-usuario">
        <h3>Deseja tornar este perfil como usuário?</h3>
        <p>O perfil usuário apenas possui as permissões para cadastro de templates e 
            visualização de templates cadastrados, fazer download de templates habilitados 
            e uploads de templates.
        </p>
        <h4>Deseja confirmar?</h4>
        <div class="campo-confirmacao">
            <button [mat-dialog-close]="true">Confirmar</button>
            <button [mat-dialog-close]="false">Cancelar</button>
        </div>
    </div>
    
</div>

