.container {
    display: flex;
    height: 100vh;
    background-color: #F9FBF9;
}

h1{
    text-transform: uppercase;
}

.side-bar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25vw;
    color:  #F9FBF9;
    background-color: #258A42;
}

.side-bar{
    position: fixed; 
    top: 0; 
    left: 0; 
}

hr{
    margin-left: 5%;
    border-color: #258A42;
    border: none;
    height: 1px;
    background-color: #258A42;
    margin-bottom: 5%;
}

.apresentacao h1{
    font-size: 3.5rem;
    color: #258A42;
    text-align: left;
    margin-left: 5%;
    margin-top: 5%;
}

.apresentacao hr{
    margin-right: 5%;
}

.main-content{
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: 25vw; 
}

.campo input::placeholder{
    text-indent: 3px;
}

.campo label{
    color: #258A42;
    font-size: 1.5rem;
}

.campo input{
    height: 5vh;
    width: 15vw;

    font-size: 1.3rem;

    border: 2px solid #258A42;
    outline: none;
}

.template {
    width: 60vw;
    height: 65vh;
    margin: auto;

    border: 2px solid #258A42;
}

.dados-template{
    display: flex;
}

.campo-esquerdo{
    width: 40vw;
    height: 45vh;
}

.campo-direito{
    width: 20vw;
    height: 40vh;
    margin-top: 3%;
    margin-right: 5%;
}

.dados-template label{
    color: #258A42;
    font-size: 1.5rem;
}

.campo input{
    height: 4vh;
    width: 14vw;

    font-size: 1rem;

    border: 2px solid #258A42;
    outline: none;
}


.campo{
    width: 35vw;
    margin-left: 3%;
    margin-top: 4%;
}

.info-campo label{
    text-transform: uppercase;
}

.campo-radio{
    height: 10vh;
    width: 10vw;

    display: flex;
    flex-direction: column;

    margin-left: 50%;


    justify-content: center;
    align-items: center;

    border: 2px solid #258A42;
}

.campo-radio label{
    font-size: 1rem;
}

.radioLabel{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-left: 58%;
    margin-top: 3%;
}

.campo-status{
    display: inline;
    height: 5vh;
    width: 10vw;

    margin-top: 3%;
}

.inativo label{
    width: 5vw;
    height: 5vh;
    margin-right: 10%;
}

.btns-modificacoes{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    height: 15vh;
    width: 60vw;
    
}

.btns-modificacoes button{
    height: 6vh;
    width: 12vw;

    font-size: 0.8rem;
    text-transform: uppercase;

    background-color: #258A42;
    color: #F9FBF9;

    cursor: pointer;

    border-radius: 5px;
    outline: none;
    border: none;
}


.campos{
    width: 70vw;
    height: 30vh;

    display: flex;

    margin-left: 7%; 
    padding-bottom: 10%;
}

h4{
    text-transform: uppercase;
}

h3{
    font-size: 3rem;
    color: #258A42;
    margin-top: 5%;
    margin-left: 7%;
}

.apresentacao-campo hr{
    width: 100%;
    margin-right: 20%;
}

.apresentacao-campo h4{
    font-size: 1.5rem;
    color: #258A42;
    margin-top: 15%;
    margin-left: 2%;
}



input:disabled{
    background: #00000034;
}

.alteracao-realizada{
    font-size: 1.2rem;
    color: #258A42;
    background-color: #a2a8a436;
    border: 1px solid #258A42;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 10px;
    border-radius: 4px;
}
